<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fon8DF1.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='booA63D.css') }}">
    <style type="text/css">
        body {background-image: url("{{ url_for('static', filename='bg10.jpg')}}");
            background-repeat:no-repeat;
            background-position: right bottom
    }
    </style>
    </head><body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Restaurants' Number of Reviews</h1><div class="col-md-12">
                            
                        </div>
                        
                    </div>
                </div><div class="row"><div class="col-md-12"><p>This page shows the distribution of review_count for restaurants in Montreal, and also shows the number of reviews for restaurants with different stars.</p></div></div>
            </div>
        </div><div class="section"><div class="container"><div class="row"><div class="col-md-12"><div id="fullcarousel-example" data-interval="false" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ url_for('static',filename='business4_1.png') }}">
                </div>
                <div class="item">
                    <img src="{{ url_for('static',filename='business4_2.png') }}">
                </div>
                </div>
            </div>
            <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
            <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
        </div></div></div></div></div><footer class="section"> <div class="container"> <div class="row"> <div class="col-sm-6 col-md-12"> <h2 class="text-center"><a href="/visualize">Back</a></h2> <p class="text-center">All rights reserved by IEOR 4752 Data Analytics Project 12&nbsp;</p></div></div></div></footer>
        
    

</body></html>