<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fon8DF1.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='booA63D.css') }}">
    <style type="text/css">
    body {
	background-image: url("{{ url_for('static', filename='bg10.jpg')}}");
    background-repeat:no-repeat;
    background-position: right bottom
}
    </style>
</head><body>

<form method="post">
    {{ form.hidden_tag() }}
    {{ form.checkbox() }}
    <button type="submit">Go!</button>
</form>

<h1>Form Errors</h1>
{{ form.errors }}



</body></html>