<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Yelp.css" rel="stylesheet" type="text/css">
  </head>
    <style type="text/css">
        {% include "Yelp.css" %}
                  body {
    background-image: url("{{ url_for('static', filename='header.jpg')}}");
    background-repeat:no-repeat;
    background-position: top}
    </style>
  <body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-center text-inverse">
              <i class="fa fa-star fa-fw"></i>Restaurants You Should Consider</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% include mapfile %}
          </div>
        </div>
      </div>
    </div><div class="section"><div class="container"><div class="row"><div class="col-md-12"><hr></div></div>
    
        
{{value1}}

        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href='/query' class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">All rights reserved by IEOR 4752 Data Analytics Project 12
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
      
    
  

</body></html>