<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fon8DF1.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='booA63D.css') }}">
    </head><body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 contenteditable="true">Step3: Which atmosphere do you like?&nbsp;</h1>
                    </div>
                </div>
                <div class="row"><div class="col-md-12"><hr></div></div>
            </div>
        </div>
        <div class="category" id="business">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-primary"> Make your choice!</h2>
                        <hr>
                        <h4 class="text-muted"><form action="#" method="post">
                        <div class="section"> <div class="container"> <div class="row"> 
                        {% for subfield in pics[:4] %}
                        <div class="col-md-3"> <img src="{{ url_for('static', filename=labels1[loop.index0]) }}" class="img-responsive"> <h5>{{ form.csrf_token }}{{ subfield }}{{ subfield.label }}</h5><hr></div>{% endfor %}</div></div></div>
                        <div class="section"> <div class="container"> <div class="row"> 
                        {% for subfield in pics[4:8] %}
                        <div class="col-md-3"> <img src="{{ url_for('static', filename=labels2[loop.index0]) }}" class="img-responsive"> <h5>{{ form.csrf_token }}{{ subfield }}{{ subfield.label }}</h5><hr></div>{% endfor %}</div></div></div>
                        {{ form.hidden_tag() }}
                        <input class="btn btn-primary" type="submit"/>
                        </form></h4>
                        <p></p>
                    </div>
                </div><div class="row"><div class="col-md-12">
                        <hr>
                    </div></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-12">
                        <h4 class="text-center">
                            <a href="/recommend0">Cancel</a>
                        </h4>
                        <p class="text-center">All rights reserved by IEOR 4752 Data Analytics Project 12&nbsp;</p>
                    </div>
</body></html>