<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fon8DF1.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='booA63D.css') }}">

    </head>
<style type="text/css">
/*/
}
</style>
    <body>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 contenteditable="true">Recommend Restaurants&nbsp;</h1>
                    </div>
                </div><div class="row"><div class="col-md-12"><hr></div></div>
            </div>
        </div>
        <div class="category" id="business">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?w=1024&amp;q=50&amp;fm=jpg&amp;s=2016c4932a7b7a1b629cb6890bff9977" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                         <h2 class="text-primary">Recommendation is based on the following steps:</h2>
                        <hr>
                        <h4 class="text-muted">1. What kind of person you are, cool or funny?
                            <br>2. Type of restaurant? Who are you going with? When do you want to go?
                            <br>3. Choose a restaurant you have eaten before.
                        <hr>
                        <h4 class="text-muted">
                             <a href="{{link.href}}">{{link.label}}</a><br></h4>
                        <p></p>
                    </div>
                </div><div class="row"><div class="col-md-12">
                        <hr>
                    </div></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-12">
                        <h2 class="text-center">
                            <a href="/">Cancel</a>
                        </h2>
                        <p class="text-center">All rights reserved by IEOR 4752 Data Analytics Project 12&nbsp;</p>
                    </div>
</body></html>