<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fon8DF1.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='booA63D.css') }}">
    <style type="text/css">
    body {
    background-image: url("{{ url_for('static', filename='bg8.jpg')}}");
    background-repeat:no-repeat;
    background-position: top
}
    </style>
</head><body>

<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Reviews Count Across Years</h1>                     
                    </div>
                </div>
            </div>
        </div><div class="section"><div class="container text-center"><div class="row"><div class="col-md-12"><img src="{{ url_for('static',filename='user2.png') }}" class="img-responsive"></div></div></div></div><footer class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <h2 class="text-center">
                            <a href="/visualize">Back</a>
                        </h2>
                        <p class="text-center">All rights reserved by IEOR 4752 Data Analytics Project 12&nbsp;</p>
                    </div>
                </div>
            </div>
        </footer></body></html>